.page-container {
  width: 100%;
  height: 56%;
  background-size: cover;
  position: relative;

  &__text {
    width: 40%;
    height: fit-content;
    border-radius: 0.4rem;
    box-shadow: 1rem 1rem 2rem rgba(black, 0.15);
    background-color: rgba($color-white, 0.8);
    padding: 1rem 2rem;
    position: absolute;
    top: 15%;
    left: 6rem;
    transform: translateX(0);

    &--right {
      transform: translateX(31rem);
    }

    h2 {
      padding: 0.5rem 0;
      font-size: 1.6rem;
    }
  }

  &__background {
    position: absolute;
    width: 100%;
    height: 100%;

    img {
      height: 100%;
    }
  }
}
