@import "./Sass/base/variables";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  width: 100vw;
  height: 100vw;
  display: flex;
  background-color: $color-primary;
}

#root {
  flex-grow: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.app {
  width: 100%;
  height: 56.25%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-primary-dark;
  // position: relative;
}
